---
import Hero from "../components/landing/Hero.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Santiago Betancur | Frontend Developer">
  <main>
    <HomeLayout>
      <Hero />
    </HomeLayout>
  </main>
</Layout>

<style></style>
