---
import Hero from '../components/landing/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Santiago Betancur | Frontend Developer">
	<main>
		<Hero />
	</main>
</Layout>

<style>
</style>
