---
import Hero from "../components/landing/Hero.astro";
import Experience from "../components/landing/Experience.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../components/landing/Projects.astro";
import Contact from "../components/landing/Contact.astro";
---

<Layout title="Santiago Betancur | Frontend Developer">
  <HomeLayout>
    <main class="w-full">
      <Hero />
      <Experience />
      <Projects />
      <Contact />
    </main>
  </HomeLayout>
</Layout>
