---
import MaxWidthWrapper from "../MaxWidthWrapper.astro";
import HeaderMenu from "./HeaderMenu";
---

<header
  class="sticky top-0 z-[999] w-full border-b border-black bg-white/50 backdrop-blur-lg"
>
  <MaxWidthWrapper className="relative flex items-center justify-between py-6">
    <a href="/" class="font-serif text-4xl select-none">S.</a>
    <HeaderMenu client:visible />
  </MaxWidthWrapper>
</header>
