<footer class="text-center py-4 border-t border-black text-sm tracking-wide">
    Made with ❤️ by <a href="https://www.linkedin.com/in/santiago-betancur/" target="_blank" class="underline">sbetav</a>
</footer>